[Unit]
Description=superdarn edtk webcam daemon

[Service]
user=radar
WorkingDirectory=/home/arl203/superdarn/code/edtk/daemons/webcam/
ExecStart=/home/arl203/superdarn/code/edtk/venv/bin/python edtkcamd.py
Restart=always
# replace /home/user/.virtualenv/bin/python with your virtualenv and main.py with your script

[Install]
WantedBy=multi-user.target
